<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Jobster</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="conteudoNavbarSuportado">
        <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-primary botoes mx-2">Entrar</button>
            <button type="button" class="btn btn-secondary botoes mx-2">Cadastrar</button>
        </form>
    </div>
</nav>

<div class="parallax"></div>